FASTQ_files
run.sbatch
slurm*
*.pyc
.ipynb_checkpoints
!*.json.gz

results/*
!results/codoncounts
results/codoncounts/*
!results/codoncounts/*codoncounts.csv
!results/preferences
results/preferences/*
!results/preferences/*prefs.csv
!results/H3renumberedprefs
results/H3renumberedprefs/*
!results/H3renumberedprefs/*prefs.csv
